* {
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    border: 1px solid red;
    /*flex-direction: row;*/
    flex-wrap: wrap;
    justify-content: space-around;  /* Main Axis */
    /*align-content: space-evenly;  Multiline Cross Axis -  Overrides align-items and align-self */
    align-items: center;  /* Cross Axis */


}

.card {
    /*height: 400px;*/
    /*width: 200px;*/
    border: 1px solid red;
    border-radius: 10px;
    background-color: #5f93e8;
    color: white;
    font-size: 100px;
    font-weight: bold;
    /*margin: 20px;*/
    order: 0;
}

.card1 {
    align-self: stretch;
    order: 1;
}

.card2 {
    align-self: flex-start;
    order: 2;
}

.card3 {
    flex: 2;
}
