<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Joeri JM Smissaert</title>
</head>
<body>
    <div class="container">

        <div class="navbar">
            <div class="navbar-left">
                <h1>Curriculum Vitae</h1>
            </div>
        </div>

        <div class="header center">
            <div class="center">
                <img class="profile-pic" src="{{ url_for('static', filename='profile_pic.jpg') }}" alt="Profile picture of Joeri JM Smissaert">
            </div>
            <div class="center">
                <h2>Joeri JM Smissaert</h2>
            </div>
            <div class="center">
                <ul>
                    <li><a href=""><i class="fa-brands fa-linkedin-in fa-2x"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-github fa-2x"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="location center">
            <ul>
                <li>Republic of Mauritius</li>
                <li><a href="https://goo.gl/maps/CB3hsob4N5MKFvMx8" target="_blank">
                    <i class="fa-solid fa-map-location-dot"></i> -20.22041° N, 57.58938° E UTC+4</a>
                </li>
            </ul>
        </div>

        <div class="about center">
            <h3>About</h3>
            <p>
                My name is Joeri (pronounced as Yuri), I work as a DevOps Engineer for a managed hosting provider where
                I help maintain a fast, efficient and resilient backend infrastructure. I develop new and maintain
                existing tools, investigate bugs and issues affecting our platform and, participate in task planning
                and code review processes that aim to increase the codebase quality.
            </p>

        </div>

        <div class="left-column">
            <div class="interests">
                <h3>Interests</h3>
                <ul>
                    <li>Reading</li>
                    <li>Cooking</li>
                    <li>Scuba Diving</li>
                    <li>Gaming</li>
                    <li>Programming & Automation</li>
                </ul>
            </div>

            <div class="skills">
                <h3>Skills</h3>
                <ul>
                    <li>Linux System Administration</li>
                    <li>Network Administration</li>
                    <li>MariaDB Database Administration</li>
                    <li>Web Hosting</li>
                    <li>Bash - Ansible - Python - Ruby</li>
                </ul>
            </div>
            <div class="education">
                <h3>Education</h3>
                <ul>
                    <li>Applied IT, VIVES University of Applied Sciences</li>
                    <li>Industrial Sciences, Peter & Paulus West</li>
                </ul>
            </div>
        </div>

        <div class="right-column">
            <div class="experience">
                <h3>Experience</h3>
                <ul>
                    <li>DevOps Engineer</li>
                    <li>Linux SysOps Engineer</li>
                    <li>Senior Technical Support Engineer</li>
                    <li>Technical Support Engineer</li>
                    <li>Infrastructure Support Specialist</li>
                    <li>System Operator</li>
                    <li>IT Support Engineer</li>
                </ul>
            </div>

            <div class="language">
                <h3>Languages</h3>
                <ul>
                    <li>Dutch - <span class="language-level">Native</span></li>
                    <li>English - <span class="language-level">Professional working proficiency</span></li>
                    <li>French - <span class="language-level">Professional working proficiency</span></li>
                    <li>Mauritian Creole - <span class="language-level">Professional working proficiency</span></li>
                    <li>German - <span class="language-level">Elementary proficiency</span></li>
                </ul>
            </div>

        </div>
    </div>
</body>
</html>