{% extends 'index.html' %}

{% block all_pets %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 my-5">

  {% for pet in pets %}
  <div class="col">
    <div class="card shadow-sm">
      <img src="{{ pet['image'] }}" >
      <div class="card-body">
        <h5 class="card-title"><span class="fw-bolder">Name:</span> {{ pet.name }}</h5>
        <p class="card-text"><span class="fw-bolder">Gender:</span> {{ pet.gender }}</p>
        <p class="card-text"><span class="fw-bolder">Breed:</span> {{ pet.breed }}</p>
        <p class="card-text"><span class="fw-bolder">Date of Birth:</span> {{ pet.date_of_birth }}</p>
          <div class="d-grid">
            <a href="{{ url_for('pet', pet_id=pet.id) }}">
              <button type="button" class="btn btn-sm btn-outline-secondary mx-2 w-100">View</button>
            </a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}