{% extends 'base.html' %}

{% block hero %}
  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Welcome</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet erat iaculis, dictum nunc et, lacinia nunc. Mauris in tincidunt massa. Praesent vitae est vitae tortor varius fermentum et eu orci.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="{{ url_for('products') }}">
            <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">See all Products</button>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}