* {
    margin: 0;
}

body {
    background-color: #E4DFDA;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #3E505B;
    color: white;
    width: 100%;
    height: 75px;
}

.navbar img {
    display: inline;
    width: 50px;
    position: relative;
    top: 15%;
    left: 2.5%;
    float: left;
}

.navbar ol {
    display: inline;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    float: right;
    position: relative;
    top: 30%;
    right: 2.5%;
}

.navbar li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.5em;
}

.content {
    margin: auto;
    background-image: url("background.jpg");
    background-size: cover;
    width: 100%;
    height: 0;
    padding-top: 66%;
}

.content .text {
    color: white;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 10%;
}

.content .text h1{
    font-size: 3em;
    font-weight: bolder;
}

.content .text p{
    font-size: 1em;
    font-weight: bold;
}